h1
{
    color:rgb(56,52,52);
    background-color:white;
    text-align: center;
    margin:0px 400px 0px 400px;
    padding:10px 20px 10px 20px;
}
body
{
    background-color:wheat;
    margin: 10px;
   padding: 5px;
   background-image: url("22.jpeg");
   background-repeat:repeat;
   background-attachment:fixed;
}
p
{
    font-size: large;
}
h3
{
    color:blue;
    font-size:20px;
    font-family:Verdana, Tahoma, sans-serif;
}
img
{
    float:left;
     margin-right:10px; 
     margin-top:5px; 
     margin-left:10px;
}

h2
{
    color: #F1680A ;
    font-weight: bold;
}
ul
{
    
    color:white;
}
li
    {
        font-size:20px; 
        font-family:arial;
    }
img
{
    float:left; 
    margin-left:10px; 
    margin-right:10px;
}   