h1
{
    color:#008000;
    background-color:#00FF00;
}
body
{
    background-color:wheat;
    font-size:15px;
    font-family:Verdana, Tahoma, sans-serif;
    
}
h3
{
    color:blue;
}
ul
{
    color:red;
}
