h1
{
    color:rgb(56,52,52);
    background-color:white;
    margin:0px 600px 0px 0px;
    padding:0px 0px 0px 0px;
}
h3
{
    color:bisque
}
h2
{
    color:rgb(9, 9, 20);
}
p
{
    color: red;
}
body
{
    background-image:url("image 1.jpg");
    background-repeat:repeat;
    background-attachment:fixed;
}