body
{
    background-image:url("image 1.jpg");
    background-position:center;
}

table
{
    background-color:white;
    margin:100px 0px 0px 500px;
    padding:30px 80px 100px 0px;
}

img
{
    padding-left:100px;
}

#td1
{
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 100px;
}

h1
{
    margin:0px 0px 0px 0px;
    padding:50px 50px 0px 0px;
}

#td2
{
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 50px;
}

#name
{
    margin:0px 0px 0px -180px;
    padding:0px 0px 0px 0px;
}

#td3
{
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 50px;
}

#pass
{
    margin:0px 0px 0px -180px;
    padding:0px 0px 0px 0px;
}

#login
{
    margin:0px 0px 0px 50px;
    padding:0px 0px 0px 0px;
    border:2px solid pink;
    border-radius:25px;
    background-color: pink;
    font-size:120%;
}

#cancel
{
    margin:0px 0px 0px -50px;
    padding:0px 0px 0px 0px;
    border:2px solid pink;
    border-radius:25px;
    background-color: pink;
    font-size:120%;
}

#login:hover
{
    text-decoration:underline;
    font-weight:bold;
    background-color:rgb(223, 108, 127);
}

#cancel:hover
{
    text-decoration:underline;
    font-weight:bold;
    background-color:rgb(223, 108, 127);
}