body
{
background-color:black;
}

ul.one
{
margin:20px 0px 0px 60px;
}

li.option
{
display:inline;
background-color: grey;
padding:15px 10px 15px 10px;
margin:0px 0px 0px 0px;
}

a
{
color:white;
text-decoration:none;
}

img.image2
{
margin:20px 0px 0px 100px;

}

img.image3
{
margin:20px 0px 0px 100px;
}

h1.topic
{
text-decoration:underline;    
position:absolute;
top:230px;
left:500px;
color:rgb(214, 154, 154);
}

pre.one
{
position:absolute;
top:280px;
left:450px;
font-size:150%;
font-style:italic;
color:yellow;
}

ul.two
{
position:absolute;
top:350px;
left:460px;
font-size:120%
}

li.member
{
font-family:Arial;
color:white;

}

pre.two
{
font-family:Arial;
}